# Data Type

- **Data Type에 따라 저장방식 상이**
  - 다른 기능 제공
    - 경우에 따라 특정 Data Type 요구

## Data Type 분류

- Continous : float 
  - 연속 (f(x)가 존재, 좌극한=우극한, f(x)=극한)
  - 미분 가능 (좌미분계수, 우미분계수)
  - 미분 가능이면 연속 (역은 항상 만족하지 않음)
- Discrete : int, string
  - Category Data (더욱 더 유한)

## 형변환 (Type Conversion)

### Python

In [1]:
a = 1

In [4]:
type(a)

int

In [11]:
b = a/255 # 암(묵)시적 형변환

In [5]:
type(b)

float

In [10]:
c = float(a) # 명시적 형변환 > instance 화하는 방식으로 형변환

In [8]:
type(c)

float

### Numpy

In [12]:
import numpy as np

In [13]:
a = np.array([1,2,3])

In [18]:
a

array([1, 2, 3])

In [20]:
a.dtype

dtype('int32')

In [15]:
b = np.asarray(a) # view

In [16]:
c = np.asfarray(a)

In [17]:
c

array([1., 2., 3.])

In [19]:
c.dtype

dtype('float64')

In [22]:
d = a.astype('int64')

In [23]:
d.dtype

dtype('int64')

### pandas

In [24]:
import seaborn as sns

In [25]:
iris = sns.load_dataset('iris')

In [29]:
iris.species = iris.species.astype('category')

In [31]:
iris['species2'] = iris.species.astype('object')

In [33]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    category
 5   species2      150 non-null    object
dtypes: category(1), float64(4), object(1)
memory usage: 6.2+ KB

In [38]:
set(dir(iris.species)) - set((dir(iris.species2)))

{'cat'}

In [41]:
iris.species

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: category
Categories (3, object): [setosa, versicolor, virginica]